body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  background-color: mediumpurple;

}

footer {
  text-align: center;
  padding: 3px;
  background-color: darkslateblue;
  color: white;
  display: grid;
  grid-template-columns: auto auto;
}

main section article {
  padding-left: 10px;
}

main {
  background-color: mediumpurple;
}

header {
  padding: 0;
  margin: 0;
}

#title {
  background-color: darkslateblue;
  margin: 0;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;

}

#title h1 {
  margin: 0;
}


#intro {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: deepskyblue;
}


.inner-side-by-side {
  display: flex;
  gap: 10px;
}

.left {
  display: grid;
  gap: 5px;
}

#contact-form {
  background-color: plum;
  padding-bottom: 20px;
  padding-top: 10px;
}

.padded-section {
  padding-left: 10px;
}
