@import url('styles.css');

table,
tr,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
}

th {
  background-color: var(--color-a);
}

tr:hover {
  background-color: var(--color-c);
}
